ListView
{
    margin: 5;
    opacity: 0;
}

Label
{
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}

TextField
{
    border-width: 1;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 20;
}

Image
{
    margin: 10;
}

/* Main Styles */
.header
{
  font-size: 20;
  color: rgba(0, 0, 0, 0.8);
  margin: auto;
}
